<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/admin.css">
    <title>Admin</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="left">
                <img src="image/LOGO1.jpg"/>
            </div>
            <div class="right">
                <p>Raypur Institute Management System </p>
            </div>
        </div>
    </header>
<div class="contain">
    <div class="corner">
        <a href="#">Log Out</a>
    </div>

    <table>
        <caption>List</caption>
        <th>Roll No.</th>
        <th>Reg. No.</th>
        <th> Year </th>
        <th>Marks of 1st year</th>
        <th>Marks of 2nd year</th>
        <th>Marks of 3rd year</th>
        <th>Marks of 4th year</th>

        <tr>
            <td>btech101</td>
            <td>2022101</td>
            <td>2</td>
            <td>84%</td>
        </tr>

        <tr>
            <td>btech102</td>
            <td>2022102</td>
            <td>2</td>
            <td>54%</td>
           
        </tr>
    </table>

</div>
    

</body>
</html>