<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/310142aaab.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/310142aaab.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="css/raypur.css">
    <title>RAYPUR INSTITUTE</title>
</head>


<body>
  

   <header class="header">
    <div class="whole">
    <div class="logo">
      
        <img src="image/LOGO1.jpg"/>
      <h1>RAYPUR INSTITUTE</h1>
     
    </div>
    
     
       <div class="mid">
        <button class="cross">
          <i class="fa-solid fa-xmark"></i>
        </button>
        
        <nav class="nav_bar">
          <ul>
            
              <li><a href="#" class="active">HOME</a></li>
            
              
           
           <li><a href="#about" >ABOUT US</a></li>
           
             <li><a href="#" >CONTACT</a></li>
            
            
            <div class="course">
             <li><a href="#total" >COURSES</a></li>
             <div class="course_content">
                 
                 <a href="#"> B.Tech</a>
                 <a href="#"> BCA </a>
                 <a href="#"> BBA</a>
                 <a href="#"> M.Tech </a>
                 <a href="#"> MCA </a>
                 <a href="#"> MBA</a>
             </div>
            </div>
          
           
          
           
            
        </ul>
      </nav>
    </div>
    <div class="right">
        <a href="/register" target="_blank" class="btn">Register now</a>
        <a href="/login" target="_blank" class="btn">Sign In</a>
    </div>

    <button class="menu active">
      <i class="fa-solid fa-bars"></i>
    </button>
</div>
  
       
</header>
<div class="container">
    <div CLASS="container_img">
        
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="image/college5.jpg" />
            </div>
            <div class="swiper-slide">
              <img src="image/class.jpg" />
            </div>
            <div class="swiper-slide">
              <img src="image/library.jpg" />
            </div>
            <div class="swiper-slide">
              <img src="img/college4.jpg" />
            </div>
            <div class="swiper-slide">
              <img src="image/education1.jpg" />
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>

        <h1>Join with us to achieve your goals</h1>
    </div>
    
    <div class="inner_para" id="about">
      <h2>About Us</h2>
      <p>
        Raypur Institute was set up on 5th August 1980 as a Government Sponsored College on a large plot of land owned by the Government of West Bengal.
        The only building of the then Day College, constructed by the Public Works Department, was three-storied. Turned into four-storied much later, it still remains the main building of the College.
        </p>
      </div>
  
    <div class="para">
      
      
        <div class="inner_para w-33" id="mission">
          <div class="inner_content">
            <div class="icon_wrapper">
              <i class="fa-solid fa-person-arrow-up-from-line"></i>
            </div>
            <h2>
              Our  Mission</h2>
              <p>
              Making Access and Inclusivity<br/> in Quality Education</p>
          </div>
        </div>
        <div class="inner_para w-33" id="vision">
          <div class="inner_content">
            <div class="icon_wrapper">
              <i class="fa-solid fa-eye"></i>
            </div>
            <h2>
              Our  Vision</h2>
              <p>
                Include, Ignite and Innovate</p>
          </div>
        </div>
        <div class="inner_para w-33" id="objective">
          <div class="inner_content">
            <div class="icon_wrapper">
              <img src="image/peace.png"/>
            </div>
            <h2>
              Our  objective</h2>
              <p>
                Education for all irrespective of caste, creed, religion, and economic status.</p>
          </div>
        </div>
        </div>
        
      <div class="pic" style="text-align: center;margin-top: 10px;">
        <img src="image/principal1.jpg"/>
       </div>
       <div class="name" style="text-align:center ;">
        <h2><br>Dr. Raktim Sinha<br>Principal, Raypur Institute </h2>
      </div>

      <div class="lect">
        
        <div class="qoute">
          <p>
            We pursue our levitation towards a positive and honest human being by asking ourselves in front of the mirror of actions and reactions of our daily acts.
             The aim is to build the society based on scientific temper, genuine human feelings for others,
              empathy for the marginalized  and primary Indian values and sensitivity.
              </p>
              <p>
              The college aspires for creating a symphony in the hearts of the students, such that it emanates cosmic music and propels them to the beginning of a fascinating dream.
               In this world of Skype and live chats one thing we are losing fast, is dream.
                Dream can heal our sorrows, agonies, frustrations and mistrust.  
                We shall not give up dreaming, even when the river of life passes through a gutter. 
                We  are confidant to  see through all matters of service to a nub.
               Let us cultivate the mindset of a winner.
              
          </p>
          <p> As the head of the institution, I firmly believe in the principle of harmony of minds and heads.
            If everything can move together, then success can take care of itself.</p>
            <p style="text-align:right ; font-style: italic;">--Dr. Raktim Sinha,<br>Principal, Raypur Institute <br>24/10/2019</p>
        </div>

      </div>
      <h2 style="background-color: rgb(255, 217, 0);text-align: center ;padding: 20px;width:100%;">Highlighted Courses</h2>
      <div class="total">
        <div class="book">
          <img src="image/books.png"/>
        </div>
        <div class="bachelor total">
        
          <div class="btech">
          <h3 > B.Tech</h3>
          <div class="eng" >
            <a href="#">Aerospace Engineering</a>
            <a href="#">Automobile Engineering</a>
            <a href="#">Biochemical Engineering</a>
            <a href="#">Chemical Engineering</a>
            <a href="#">Civil Engineering</a>
            <a href="#">Computer Science Engineering</a>
            <a href="#">Electronics and Communication Engineering</a>
            <a href="#">Elctrical Engineering</a>
            <a href="#">Information Technology</a>
            <a href="#">Mechanical Engineering</a>
            <a href="#">Telecommunication Engineering</a></div>
            
          
          </div>
         <div class="bba">
          <h3>BBA</h3>
         </div>
         <div class="bca">
          <h3>BCA</h3>
        </div>
      
      </div>
      <div class="master total">
        <div class="mtech">
         <h3>M.Tech</h3>
         <div class="eng">
          <a href="#">Aerospace Engineering</a>
          <a href="#">Automobile Engineering</a>
          <a href="#">Biochemical Engineering</a>
          <a href="#">Chemical Engineering</a>
          <a href="#">Civil Engineering</a>
          <a href="#">Computer Science Engineering</a>
          <a href="#">Electronics and Communication Engineering</a>
          <a href="#">Elctrical Engineering</a>
          <a href="#">Information Technology</a>
          <a href="#">Mechanical Engineering</a>
          <a href="#">Telecommunication Engineering</a></div>
          
       
        </div>
       <div class="mba">
        <h3>MBA</h3>
       </div>
       <div class="mca">
        <h3>MCA</h3>
      </div>
      
      </div>
     
       </div>
      
      
<h1 style="text-align: center;background-color: rgb(82, 219, 250);padding: 20px;width:100%;"> We are serving...</h1>
    <div class="serve">
<div class="teacher">
  <img src="image/teacher-icon.png"/>
  <h1 style="text-align: center;">100+<br>Teachers</h1>
</div>
<div class="student">
  <img src="image/graduating-student.png"/>
  <h1 style="text-align: center;">2000+ <br> Students</h1>
</div>
<div class="years">
  <img src="image/calendar-icon.png"/>
  <h1 style="text-align: center;">41+ <br> Years Served</h1>
</div>
    </div>


</div>
<footer class="footer">
    <div class="container-page">
        <div class="row">
          <!-- <div class="col-lg-1"></div> -->
            <div class="column">
                <div class="col1">
                    <ul class="follow">
                        <h4> Informations</h4>
                        <li><a href="/page/inst_info/" class="link">Institute Information</a>
                        </li>
                        <li><a href="/page/campus/" class="link">Campus Facilities</a>
                        </li>
                        <li><a href="/hostels/" class="link">Hostels</a>
                        </li>
                        <li><a href="http://su.kgec.ac.in/" target="_blank" class="link">Students Union</a>
                        </li>
                        <li><a href="#" class="link">FAQ</a>
                        </li>
                    </ul>
                    
                </div>
            </div>
            <div class="column">
                <div class="col5">
                    <ul class="follow"> 
                        <h4></h4>
                        <li><a href="#" class="link">Faculty</a></li>
                        <li><a href="#" class="link">Holiday Schedule</a></li>
                        <li><a href="#" class="link">Academic Calendar</a></li>
                        <li><a href="#" class="link">Site Feedback</a></li>
                        
                    </ul>
                    
                </div>
            </div>
          <div class="column">
            <div class="col2">

                <p class="vcard follow">
                    <h4>Our address</h4>
                <span class="url fn org">RAYPUR INSTITUTE</span><br><span class="adr"><span class="locality">Raypur</span>, <span class="region">Kolkata, WB</span> <span class="postal-code">700156</span></span><br> Phone : +91-33-2582-1309<br>
                Email : <a href="mailto:contact@raypur.edu.in" class="link">contact@raypur.edu.in</a>
                </p>
                
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59010.219232319265!2d88.1827067787881!3d22.42380472631276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a027d54e9e5e359%3A0xb2245884c961a257!2sRaypur%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1655003571617!5m2!1sen!2sin" width="150" height="70" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
   

              </div>
          </div>
          
          <div class="column">
              <div class="col4">
                <h4>Follow us</h4>
                <ul class="follow">
                    <li><a href="#" class="link"><i class="fab fa-facebook-f"></i> facebook</a></li>
                    <li><a href="#" class="link"><i class="fab fa-twitter"></i> twitter</a></li> 
                     <li><a href="#" class="link"><i class="fab fa-instagram"></i> instagram</a></li>
                     <li><a href="#" class="link"><i class="fab fa-linkedin-in"></i> Linkedin</a></li>
                </ul>
                
              </div>
          </div>
          <!-- <div class="col-lg-1"></div> -->
          
          </div>
        </div>
      </div>
      <hr style="border: 1px solid #2f2f2f">
      <div class="col3">
        
          
          <p style="color: #3a3838;"> RAYPUR INSTITUTE<!-- </a> --><br />Since 1980</p>
            <p style="font-size: 14px ;">Disclaimer  |  Copyright  |  Privacy Policy</p>
      </div>
      
      </footer>
</footer>

<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 30,
      effect: "fade",
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      autoplay: {
          delay: 1500,
          disableOnInteraction: false,
        },
    });

    document.querySelector('.menu').addEventListener('click', function(){
      document.querySelector('.mid').classList.add('active');
    })

    document.querySelector('.cross').addEventListener('click', function(){
      document.querySelector('.mid').classList.remove('active');
    })

  </script>
</body>