*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
    background-color:beige;
    
}
.left img{
    width:80px;
   height:80px;
   border-radius: 50%;
   padding: 10px 10px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    flex-wrap: wrap;
    background-color: skyblue;
}
.right{
    padding:10px 10px;

}
.corner{
    text-align: right;
    padding:10px 10px;

}
table{
    width:600px;
   margin-left: auto;
   margin-right: auto;
}
th, caption{
    text-align: center;
}
table, th, td{
    border:1px solid #000;
    border-collapse: collapse;
}
th, td{
    padding: 10px;
}