@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    background-color:beige;
    
}
.header{
    background-color:skyblue;
    

}
.whole{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo {
    display: inline-block;
    align-self: flex-end;
    text-align: center;
    color: white;
    font-size: large;
    font-weight: 500px;
}
.logo img{
    width:70px;
   height: 70px;
   border-radius: 50%;
}

.mid {
    display:block;
   width:45%;
  align-self:flex-end;
  
     
}
.right{
    margin-bottom: 5px;
    align-self:flex-end;
  
}
.nav_bar {
    display: inline-block;
   margin-bottom: 6px;
}
.nav_bar li {
    display: inline-block;
    font-size:large;
}
.nav_bar li a{
    color: white;
    text-decoration: none;
    padding: 34px 23px;

    position:relative;
    z-index: 1;
}
/*.nav_bar:hover{
    background-color: rgb(150, 162, 162);
    border-radius: 25px;
    box-shadow: 0 0 5px 5px rgb(70, 72, 72);
   height: 55px;
}*/

.nav_bar li a:hover,
.nav_bar li a.active{
    text-decoration: underline;
    color:rgb(132, 5, 94);
}
.course{
float:right;
    overflow: hidden;
    
}
.course_content{
display:none;
position: absolute;
z-index: 1;
background-color:bisque;
width:fit-content;
height: max-content;
}
.course_content a{
color: darkmagenta;
text-decoration: none;
padding: 14px 18px;
display: block;

}
.course_content a:hover{
    display: block;
    color: blue;
background-color: gold;
text-decoration: underline;
}
.course:hover .course_content{
display:block;
z-index: 2;
}
.container{
    width:100%;
}
.container_img{
    
    text-align: center;
    width:100%;
    
text-decoration: wavy;
}
.container_img img{
    width:100%;
    height: 700px;;
}
.para{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.w-33{
    width: 33%;
}
.inner_para{
    margin: 0px;
    padding: 20px;
}
.inner_content{
    background-color: rgb(255, 239, 20);
    border: 5px;
    border-color:rgb(122, 7, 37) ;
    border-end-start-radius: 20px;
    border-start-end-radius:20px ;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    transition: 0.5s;
}
.inner_content p{
    text-align: center;
}
.inner_content:hover{
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    transform: translateY(-5px);
}

#about{
     background-color: rgb(168, 251, 233);
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#about h2{
    margin:30px;
    
    text-decoration: underline;
}
.icon_wrapper{
    width: 70px;
    height: 70px;
    border: 2px solid #000;
    border-radius: 50%;
    padding: 15px;
    background-color: rgb(76, 76, 74);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-bottom: 20px;
}
.icon_wrapper img{
    width: 50px;
    height: 60px;
    color:#fff;
}
.inner_para i{
    font-size: 24px;
    color: #fff;
}
.inner_para h2{
    color: rgb(39, 3, 46);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
   text-align: center;
    margin-bottom: 20px;
}
.inner_para p{
   margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
   
    font-size:large;
}

.total{
    display: flex;
    flex-wrap: wrap;
   padding: 30px;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.total h3{
    text-align: center;
}
.bachelor{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  

}
.master{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.eng{
  display:flex;
  flex-direction: column;
  height: 350px;
  width:250px;
  padding: 20px;
  background-color: rgb(255, 255, 0);
 border-bottom-left-radius:25px ;
 border-top-right-radius: 25px;
 justify-content: center;
}
.eng a{
  text-decoration: none;
color: brown;
}
.eng a:hover{
  color: darkblue;


}
.book img{
    margin-top: 70px;
    height: 300px;
    width:300px;
    display: flex;
    align-items: center;
}
.serve{
   
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}
.serve img{
    height: 200px;
    width:200px;
}


.btn{
    background-color: rgb(248, 241, 241);
    color:crimson;
    cursor:pointer;
    padding:5px 15px;
    border-radius: 20px;
    border:2px ;
    font-size: large;
    height: 30px;

}
.btn:hover{
    background-color: greenyellow;
    box-shadow: 0 0 5px 5px grey;
    width:150px;
    height: 35px;
}

.lect{
    display:flex;
    background-color: #5cf3e3;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
    /*border: 2px darkmagenta;*/
   flex-direction: column;
    border-radius: 25px;
    padding: 20px;
}
.lect:hover{
    box-shadow: 0 0 7px 7px grey;
}
.pic img{
    object-fit: cover;
    height: 200px;
    width:200px;
    border-radius: 50%;
}
.pic img:hover{
    box-shadow: 0 0 7px 7px grey;
    height: 210px;
    width:210px;
}
.lect p{
    margin-left: 55px;
    margin-right: 55px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    text-shadow: #b2b2b2;
}

.footer{
padding: 30px 40px 30px;
background-color: #747474;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 18px;
}
a:hover{
color: rgb(246, 242, 40);
}
.vcard{
color: #b2b2b2;
}

.row{
display: flex;
flex-wrap: wrap;
}
.column{
  width:25%;
  padding:0 15 px;
color: bisque;
}  

.col5{
margin-top: 25px;
}
.col3{
text-align: center;
color: rgb(236, 226, 226);
}

.fab{
color:rgb(150, 213, 247);
padding: 0 25 px;
}
.follow{
list-style: none;
}
.link{
color:azure;
text-decoration: none;
}